.fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fab button {
  position: absolute;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
  background-color: #2aa33c;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.fab button:hover {
  background-color: #168126;
}
.wave {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}