.fab {
  position: fixed;
  bottom: 0;
  right: 0;
}

.chat-open-img {
  position: absolute;
  bottom: -70px;
  right: -80px;
  transform: scale(0.3);
}

.chat-close-img {
  position: absolute;
  bottom: -40px;
  right: -50px;
  transform: scale(0.5);
}

.wave {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}