.App {
  padding-top: 80px;
  color: white;
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  background-image: url("../assets/border-logo-lt.svg");
  background-repeat: no-repeat;
}