.persona-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.persona-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}

.persona {
  width: 160px;
  height: 240px;
  cursor: pointer;
  border: 2px solid gray;
  background-color: darkred;
}
