
.question-title {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
}
.question-subtitle {
  margin-top: -30px;
  font-size: 32px;
  color: #00e88F;
  font-weight: bold;
  text-transform: uppercase;
}

.question-wrapper {
  padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
